
*
{
	margin: 0px;
	padding: 0px;
}

.header
{
	background-image: linear-gradient(30deg , #0048bd, #44a7fd);
	height: 70px;
	padding-left: 30px;
	position: relative;
}

a,a:hover
{
	text-decoration: none!important;
}

.logout
{

	 
    display: inline-block;
    padding: 10px 20px;
    /*background-color: #007bff;*/
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
	float: right;
	padding-right: 30px;
	padding-top: 15px;
}

.logout:hover {
    background-color: #0056b3;
}

ul
{
	background-image:  linear-gradient(30deg , #0048bd, #44a7fd);
	width: 16%;
	height: 100%;
	position: absolute;
	padding-top: 5%;
	text-align: center;
}


ul li 
{
	list-style: none;
	padding-bottom: 30px;
	font-size: 15px;
}


ul li a 
{
	color: white;
	font-weight: bold;
}

ul li a:hover
{
	color: skyblue;
	text-decoration: none;
}


.content
{
	margin-left: 20%;
	margin-top: 5%;
}